body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
// Container
@import url('./blocks/container/container.scss');
@import url('./blocks/theme/_grey/theme_grey.scss');
// Header
@import url('./blocks/header/header.scss');
@import url('./blocks/header/__logo/header__logo.scss');
@import url('./blocks/header/__logo-img/header__logo-img.scss');

//Main
@import url('./blocks/main/main.scss');

// Search
@import url('./blocks/search-input/search-input.scss');

// Results
@import url('./blocks/results/results.scss');

// Result-item
@import url('./blocks/results-item/results-item.scss');

// Pagination
@import url('./blocks/pagination/pagination.scss');
@import url('./blocks/pagination/__page/pagination__page.scss');
@import url('./blocks/pagination/__page/_active/pagination__page_active.scss');


// Footer
@import url('./blocks/footer/footer.scss');
@import url('./blocks/footer/__info/footer__info.scss');
@import url('./blocks/footer/__link/footer__link.scss');

//Modal 
@import url('./blocks/modal/modal.scss');
@import url('./blocks/modal/_active/modal_active.scss');
@import url('./blocks/modal/__content/modal__content.scss');
@import url('./blocks/modal/__content-title/modal__content-title.scss');
@import url('./blocks/modal/__content-type/modal__content-type.scss');
@import url('./blocks/modal/__content/_active/modal__content_active.scss');












